:root {
   --size: 200px;
   --colorPrimary: aqua;
   --colorSecondary: grey;
}
* {
    box-sizing: border-box;
}


.box {
    background-color: blueviolet;

    width: calc(50% - 20px);
    margin: 10px;
}

.conteiner {
    display: flex;
    justify-content: space-between;
}

@media(min-width: 340px) {

}